SECRETS_FILE="${HOME}/workspace/gp-continuous-integration/secrets/gpdb-6X_STABLE-release-secrets.dev.yml"

export PIVNET_ENDPOINT=$(yq read "${SECRETS_FILE}" 6_0-release_pivnet_endpoint)
export PIVNET_PRODUCT_SLUG=$(yq read "${SECRETS_FILE}" 6_0-release_pivnet_product_slug)
export PIVNET_REFRESH_TOKEN=$(yq read "${SECRETS_FILE}" 6_0-release_pivnet_refresh_token)
